<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<!--My name is: {{ name }}-->
<div id="main-menu" class="red">
    <h1><span class="fontStyle">E</span>lizabeth's Homepage</h1>
</div>
<div id="main-content">
<p>
    <span class="red makeBigger fontStyle">L</span>orem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem sapiente obcaecati error
    facilis dolorem tempora eum est dignissimos quos, perspiciatis nulla, doloremque quod qui ad blanditiis
    quaerat vitae. Saepe, qui. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus eveniet dicta,
    aperiam, aliquid velit illo officia mollitia veniam laudantium, nesciunt nobis accusantium repudiandae enim
    voluptatem optio quae nam a. Inventore.
</p>

 <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos cum magnam ad, enim quisquam id velit eum.
     Sapiente, iste dicta ipsum soluta autem optio blanditiis eius consequatur molestiae expedita ea.
 </p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dolor laborum, quisquam ab iste reiciendis ad
    accusamus blanditiis pariatur minima suscipit odio fugiat. Veniam rem illo, deleniti saepe, totam aliquid
    magnam numquam ipsum, doloremque maiores tempora nihil error eligendi officiis. Consequuntur similique
    inventore ipsum dicta dolorum esse ipsa laboriosam in.
</p>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, vel amet nobis voluptate nulla hic fugiat
    placeat perspiciatis sint rerum temporibus enim voluptates deserunt error labore laudantium maxime ea odit
    quia ipsa! Quasi ab facilis, nam aliquam repudiandae quis illo esse reiciendis,
    corrupti facere accusantium, velit consectetur aliquid cumque eveniet!
</p>
</div>
</body>
</html>
